* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, * after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sixing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

.container {
  max-width: 1230px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.wrapper {
  display: flex;
  margin: 0 -10px;
}

.block {
  width: 33.33%;
  padding: 0 10px;
}

.btn {
  margin-top: 60px;
  color: #fff;
  background-color: #db2512;
  width: 198px;
  height: 50px;
}

.btn:hover {
  background-color: #79170c;
}

header {
  background-image: url("/img/road-g9875459d1_1920 1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 700px;
  width: 100%;
}
header .header-wrapper {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .header-block {
  width: 20%;
}
header .header-logo {
  height: 65px;
}
header .header-logo img {
  display: inline-block;
}
header .nav-link {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  position: relative;
}
header .nav-link::after {
  width: 100%;
  height: 2px;
  background-color: #fff;
  position: absolute;
  top: 100%;
  left: 0;
  content: "";
  opacity: 0;
  transition: opacity 0.2s ease;
}
header .nav-link.active::after {
  opacity: 1;
}
header .nav-link:last-child {
  margin-right: 0;
}
header .nav-link {
  color: #fff;
  margin-right: 35px;
}
header .nav-link:hover::after {
  opacity: 1;
}
header .header-block a {
  text-decoration: none;
  text-transform: uppercase;
}
header .header-lng {
  display: flex;
  justify-content: end;
}
header .header-lng-link {
  color: #b7b7b7;
  margin-right: 8px;
}
header .header-lng-link:last-child {
  margin-right: 0;
}
header .header-lng-link.active {
  color: #fff;
}
header .main-title {
  font-weight: 700;
  font-size: 48px;
  line-height: 150%;
  text-transform: uppercase;
  color: #ffffff;
  width: 70%;
}

.address-blocks .block-cards {
  width: 100%;
  display: flex;
  gap: 20px;
}
.address-blocks .card img {
  width: 20px;
}
.address-blocks .card {
  transform: translatey(-50%);
  background-color: #fff;
  display: flex;
  flex-direction: column;
  border: solid #fff;
  width: 35%;
  padding: 40px 30px;
}
.address-blocks .card-title {
  padding-top: 10px;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 0.15em;
  text-transform: uppercase;
}
.address-blocks .card-subtitle {
  padding-top: 5px;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #b7b7b7;
}

.our-services .services-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 1.5;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: #000000;
}
.our-services .services-subtitle {
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: 0.15em;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #000000;
}
.our-services .services-subtitle:hover {
  text-decoration: none;
}
.our-services .wrapper {
  display: flex;
  margin: 0 -10px;
}
.our-services .block {
  width: 33.33%;
  padding: 0 10px;
}
.our-services .services-content {
  height: 500px;
  margin-bottom: 20px;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.our-services .services-content::after {
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  transition: opacity 0.2s ease;
}
.our-services .services-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.our-services .services-content-item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.2s ease;
}
.our-services .services-item:hover .services-content-item {
  opacity: 1;
}
.our-services .services-item:hover,
.our-services .services-content-item:after {
  opacity: 0.9;
}
.our-services .services-text {
  max-width: 270px;
  color: #000000;
  text-transform: uppercase;
  position: absolute;
  left: 30px;
  bottom: 30px;
}
.our-services .services-subtext {
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0.23em;
  color: #000;
}

.about {
  margin-top: 200px;
  background-color: #000;
  padding: 115px 0;
}
.about .about-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 150%;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: #ffffff;
}
.about .about-subtitle {
  margin: 40px 0;
  font-weight: 600;
  font-size: 15px;
  line-height: 150%;
  letter-spacing: 0.23em;
  color: #b7b7b7;
}
.about .about-ahf {
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0.15em;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  text-transform: uppercase;
  color: #ffffff;
}
.about .about-ahf.active:hover {
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
}
.about .about-block {
  max-width: 505px;
}
.about .about-wrapper {
  display: flex;
  justify-content: space-between;
}
.about .about-img {
  max-height: 340px;
}

.fast .fast-title {
  font-weight: 900;
  font-size: 148px;
  line-height: 150%;
  text-transform: uppercase;
  color: #000000;
  text-align: center;
}
.fast .fast-subtitle {
  font-weight: 600;
  font-size: 40px;
  line-height: 150%;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: #000000;
  text-align: center;
}
.fast .fast-block-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: #000000;
}
.fast .fast-block-subtitle {
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #b7b7b7;
}
.fast .wrapper {
  margin: 100px 0;
}

.contact {
  padding: 100px 0;
  background-color: #000;
}
.contact .contact-form {
  max-width: 440px;
}
.contact .form-row {
  margin: 0 -20px;
  display: flex;
}
.contact .form-group {
  padding: 0 20px;
  flex: 1;
  position: relative;
  margin: 20px;
}
.contact .input {
  width: 100%;
  padding: 9px 0;
  color: #fff;
  font-family: inherit;
  font-size: 15px;
  outline: 0;
  border: 0;
  border-bottom: 1px solid #fff;
  background-color: transparent;
}
.contact .input:focus + label {
  transform: translateY(-15px);
  font-size: 12px;
}
.contact .input:not(:-moz-placeholder-shown) + .label {
  transform: translateY(-15px);
  font-size: 12px;
}
.contact .input:not(:-ms-input-placeholder) + .label {
  transform: translateY(-15px);
  font-size: 12px;
}
.contact .input:not(:placeholder-shown) + .label {
  transform: translateY(-15px);
  font-size: 12px;
}
.contact .label {
  color: #fff;
  letter-spacing: 0.15em;
  position: absolute;
  top: 10px;
  left: 20px;
  pointer-events: none;
  transition: all 0.2s ease;
}
.contact .textarea {
  min-height: 130px;
  resize: vertical;
  width: 100%;
  padding: 9px 0;
  color: #fff;
  font-family: inherit;
  font-size: 15px;
  outline: 0;
  border: 0;
  border-bottom: 1px solid #fff;
  background-color: transparent;
}
.contact .textarea:focus + label {
  transform: translateY(-15px);
  font-size: 12px;
}
.contact .textarea:not(:-moz-placeholder-shown) + .label {
  transform: translateY(-15px);
  font-size: 12px;
}
.contact .textarea:not(:-ms-input-placeholder) + .label {
  transform: translateY(-15px);
  font-size: 12px;
}
.contact .textarea:not(:placeholder-shown) + .label {
  transform: translateY(-15px);
  font-size: 12px;
}

.footer .footer-wrapper {
  padding: 100px 0;
  display: flex;
  justify-content: space-between;
}
.footer .footer-text {
  font-weight: 400;
  font-size: 15px;
  line-height: 150%;
  letter-spacing: 0.15em;
  color: #000000;
}
.footer .contacts img {
  padding: 0 10px;
}

@media (max-width: 930px) {
  .header-logo img {
    height: 40px;
  }
  .address-blocks .card-title {
    font-size: 17px;
  }
  .about .about-block {
    max-width: 100%;
    margin: 20px 0;
  }
  .about .about-wrapper {
    display: block;
    text-align: center;
  }
  .our-services .services-content {
    height: 400px;
  }
  .fast .fast-title {
    font-size: 40px;
  }
  .fast .wrapper {
    display: flex;
    flex-direction: column;
    margin: 0;
  }
  .block {
    width: 100%;
    padding: 30px 10px;
    background-color: rgb(220, 220, 220);
    margin: 20px 0;
    text-align: center;
  }
}
@media (max-width: 700px) {
  .address-blocks .block-cards {
    flex-direction: column;
  }
  .address-blocks .card {
    width: 100%;
    background-color: rgb(220, 220, 220);
    align-items: center;
  }
  .our-services .wrapper {
    flex-direction: column;
  }
  .our-services .block {
    width: 100%;
  }
  .about {
    margin-top: 100px;
  }
  .footer .footer-wrapper {
    padding: 60px 0;
  }
  .nav {
    display: none;
  }
  header {
    height: 450px;
  }
  header .main-title {
    font-size: 25px;
    width: 90%;
  }
  .about .about-img {
    max-height: 300px;
  }
  .footer .footer-text {
    letter-spacing: normal;
  }
  .address-blocks .card img {
    margin-bottom: 10px;
  }
}
@media (max-width: 500px) {
  header .main-title {
    font-size: 20px;
  }
  .about {
    padding: 60px 0;
    margin: 20px 0;
  }
  .about .about-title {
    font-size: 20px;
  }
  .about .about-img {
    max-height: 180px;
  }
  .our-services .block {
    padding: 20px 10px;
  }
  .fast .fast-subtitle {
    font-size: 20px;
  }
  .footer .footer-wrapper {
    flex-direction: column;
    align-items: center;
  }
  .footer .footer-text {
    margin: 20px 0;
  }
}